 /* 去除默认样式 */
 *{margin: 0;padding: 0;}
 .clearfix:after,
 .clearfix:before{content: '';display: table;}
 .clearfix:after{clear: both;}
 input{ border: none; outline: none; background-color: transparent; }
 ul,ol{list-style-type: none;}
 a{text-decoration: none;}
 img{vertical-align: top;width: 100%;height: 100%;}
 em,i{font-style: normal;}
 
.no1_7_width{
    width: 230px;
    height: 30px;
    margin-left: 20px;
    margin-top: 15px;
    padding: 0px 8px 0px 30px;
    border-radius: 3px;
border: 1px solid #ddd;
}
.no1_7_div{
    width: 100%;
    height: 480px;
    margin-top: 20px;
    overflow: hidden;
    overflow-y: auto;
    padding-left: 27px;
    padding-right: 27px;
}
.no1_7_ziti{
/* border-bottom: 1px solid #eee; */
padding-bottom: 10px;
color: #777;
font-size: 12px;
}
.no1_7_ziti div{
    display: inline-block;
    margin: 5px;
    font-size: 16px;
    color: #777777;
    margin-left: 10%;
}
.no1_7_text{
    display: inline-block;
}
.no1_7_structure_name{
    display: inline-block;
}
.no1_7_namess{
    display: inline;
}
.no1_7_realname{
    width: 100px;
    float: left;
    font-size: 14px;
    margin-top: 20px;
} 
.no1_7_div::-webkit-scrollbar{
    width: 5px;
    background-color: #eee;
    border-radius:1px ;
}
.no1_7_div::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 5px;
}
.no1_7_div>div{
    border-bottom: #ccc solid 1px;
    margin-bottom: 20px;
}