.no2_0_main{
    width:100%;
    height: calc(100vh - 100px);
}
.no2_0_content{
    width:1298px;
    height: calc(100vh - 100px);
    margin:auto;
}
.no2_0_header{
    width:1298px;
    height:46px;
}
.no2_0_img{
    width:46px;
    height:46px;
    float: left;
}
.no2_0_title{
    width:365px;
    height:34px;
    float:left;
    margin:6px 0px 0px 15px;
}
.no2_0_h{
    color:#333;
    font-size:16px;
    line-height:34px;
    display:inline-block;
}
.no2_0_s{
    display: inline-block;
    color:#3e84e9;
    font-size:12px;
}
.no2_0_input{
    width: 200px;
    height: 34px;
    float: right;
    line-height: 34px;
}
.no2_0_right{
    float: right;
    margin-right:12px;
}
.no2_0_t{
    width:1298px;
    height:calc(100vh - 100px);
    margin-top:20px;
}
.no2_0_l{
    width:636px;
    height: 350px;
    background-color: #fff;
    border:1px solid #ccc;
    border-radius: 2px;
}