 /* 去除默认样式 */
 *{margin: 0;padding: 0;}
 .clearfix:after,
 .clearfix:before{content: '';display: table;}
 .clearfix:after{clear: both;}
 input{ border: none; outline: none; background-color: transparent; }
 ul,ol{list-style-type: none;}
 a{text-decoration: none;color: #fff;}
 img{vertical-align: top;}
 em,i{font-style: normal;}

.no4_box{
    width: 100%;
    height: 100%;
}
.no4_box_nav{
    float: left;
    height: 100%;
    background-color: #001529;
}
.no4_box_nav a{
    color: #fff !important;
}
.no3_box_content{
    width: calc(100% - 170px);
    height: 100%;
    padding: 10px ;
    float: left;
}
.no4_box_content{
    width: calc(100% - 170px);
    height: 100%;
    padding: 10px ;
    float: left;
    /* background-color: #fff; */
}
.no4_1_1{
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    padding: 10px;
}
.no4_1_1_title{
    font-size: 18px;
    line-height: 60px;
    height: 60px;
}
.no4_1_1_content>div{
    width: 23%;
    min-height: 120px;
    margin: 0 2% 0 0;
    margin-bottom: 10px;
    background-color: #fff;
    float: left;
    border-radius: 3px;
    padding: 10px;
    position: relative;
}
.no4_1_1_content_item_title{
    display: flex;
}
.no4_1_1_content_item_name{
    font-size: 15px;
    line-height: 20px;
    color: #333;
    margin-right: 10px;
}
.no4_1_1_content_item_num{
    color: #999;
    font-size: 14px;
    line-height: 20px;
}
.no4_1_1_content_item_num span{
    margin: 0 2px;
}
.no4_1_1_content_item_fen{
    width: 100%;
    height: 6px;
    background-color: #ebeef5;
    border-radius: 3px;
}
.no4_1_1_content_item_push{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 13px;
    line-height: 20px;
    vertical-align: top;
}
.no4_1_1_content_item_push span{
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    height: 20px;
    color: blue;
    margin-right: 10px;
}

/* no4——3 */
.No4_3_box{
    width: 100%;
    height: 100px;
}
.No4_3_box_title{
    color: #333;
    font-size: 18px;
    line-height: 60px;
    height: 60px;
    margin-bottom: 10px;
    padding-left: 20px;
}
.No4_3_box_content{
    width: 100%;
    height: calc(100vh - 150px);
    /* background-color: #fff; */
    overflow-y: scroll;
}
.No4_3_box_content_item{
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}
.No4_3_box_content::-webkit-scrollbar{
    width: 4px;
    background-color: #eee;
    border-radius:1px ;
}
.No4_3_box_content::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 5px;
}
.No4_3_box_content_item_title{
    height: 50px;
    line-height: 50px;
    padding:  0 10px;
}
.No4_3_box_content_item_title_left{
    float: left;
    font-size: 14px;
    line-height: 14px;
    margin-top: 18px;
    border-left:rgb(70, 205, 207) solid 2px;
    padding-left: 10px;

}
.No4_3_box_content_item_title_right{
    float: right;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
    margin-top: 10px;
}
.No4_3_box_content_item_title_content{
    display: flex;
    width: 100%;
    height: 158px;  
}
.No4_3_box_content_item_title_content_left{
    text-align: center;
    width: 50%;
}
.No4_3_box_content_item_title_content_left_item{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: rgb(231, 242, 250) solid 5px;
    border-radius: 50%;
    margin: 20px;
    line-height: 20px;
    vertical-align: top;
}
.No4_3_box_content_item_title_content_left_txt{
    font-size: 12px;
    line-height: 30px;
}
.No4_3_box_content_item_title_content_left_txt_num{
    font-size: 27px;
}
.No4_3_box_content_item_title_content_right_top{
    display: flex;
}
.ces{
    border-bottom:#ccc solid 1px;

}
.No4_3_box_content_item_title_content_right{
    padding-top: 50px;
}
.No4_3_box_content_item_title_content_right_top{
    width: 300px;
}
.No4_3_box_content_item_title_content_right_top div{
    flex: 1;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
.No4_3_box_content_item_biaog{
    border: #ccc solid 1px;
}
.No4_3_box_content_item_biaog_top{
    height: 50px;
    line-height: 50px;
    display: flex;
    border-bottom: #ccc solid 1px;
}
.No4_3_box_content_item_biaog_top_item{
    flex: 1;
    padding-left: 10px;
    background-color: #f5f5f5;
    border-right: #ccc solid 1px;
    color: #909399;
}
.No4_3_box_content_item_biaog_content{
    min-height: 300px;
}
.No4_3_box_content_item_biaog_content_txtt{
    height: 300px;
    line-height: 300px;
    font-size: 16px;
    color: #909399;
    text-align: center;
}
/* 第四个大盒子 */
.no4_4_box{
    width: 100%;
    height: 100%;
}
.no4_4_box_title{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding-left: 10px;
}
.no4_4_box_content{
    width: 100%;    
    height: calc(100vh - 150px);
    background-color: #fff;
    border: #ccc solid 1px;
    border-radius: 3px;
    padding: 10px;
    position: relative;
}
.htisiskasjdjhg_img{
    width: 200px;
    height: 200px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
/* 第六个盒子 */

.no4_6_box{
    width: 100%;
    height: 100%;
}
.no4_6_box_title{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding-left: 10px;
}
.no4_6_box_content{
    width: 100%;    
    height: calc(100vh - 150px);
    background-color: #fff;
    border: #ccc solid 1px;
    border-radius: 3px;
    padding: 10px;
    position: relative;
}

.no4_6_box_content_item{
    height: 50px;
    line-height: 50px;
    border-bottom: #ccc solid 1px;
}
.no4_6_box_content_item_lwft{
    float: left;
    color: #8f8f8f;
    font-size: 16px;
}
.no4_6_box_content_item_right{
    float: right;
    font-size: 12px;
    color: #999999;
    vertical-align: top;
}
.no4_6_box_content_item_deltime{
    margin-right: 6px;
    display: inline-block;
    vertical-align: top;
} 
.logo_no4_6_box_content_item{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 10px  0 0 0;
    vertical-align: top;
}

/* 项目的盒子 */
.no4_2{
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
}
.no4_2_title{
    height: 110px;
    background-color: #fff;
    padding:0px 50px;
    font-size: 16px;
    line-height: 50px;
    vertical-align: top;
}
.no4_2_top span{
    font-size: 15px;
}
.no4_2_top_name span:nth-of-type(1){
    font-size: 25px;
}
.no4_2_top_name{
    float: left;
}
.no4_2_top_right{
    float: right;
}
.no4_2_top_right span{
    display: inline-block;
    margin: 0 5px;
    color: #ccc;
}
.sp1{
    font-size: 30px;
    line-height: 60px;
    vertical-align: top;
    color: #53D397;
    margin-right: 10px;
}
.sp2{
    font-size: 10px;
    line-height: 50px;
    color: #ccc;
    margin-left: 30px;
}
.swhulskad{
    width: calc(100% + 10px);
    height:calc(100vh - 200px);
    margin-left: -10px;
    overflow-y: scroll;
}
.swhulskad::-webkit-scrollbar{
    width: 4px;
    background-color: #eee;
    border-radius:1px ;
}
.swhulskad::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 5px;
}
.no4_2 .ant-tabs{
    margin: 0 -50px;
    padding-left: 10px;
}
/* 2 */
.no4_2_item{
    width: 100%;
    background-color: #fff;
    border: #ccc solid 1px;

}
.no4_2_item_1_top{
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
    display: flex;
    border-bottom: #ccc solid 1px;
}
.no4_2_item_1_top div{
    text-align: center;
    flex: 1;
}
.no4_2_item_1_content{
    min-height: 300px;
}
.no4_2_item_1_content p {
    line-height: 100px;
    text-align: center;
    color: #ccc ;
}

/*  */
.twobox{
    margin-bottom: 20px;
}
.onebox{
    width: 49%;
    padding: 10px;
    background-color: #fff;
    float: left;
    margin: 0 0.5%;
}
.onebox_title{
    font-size: 14px;
    line-height: 18px;
    margin: 5px 0;
    padding-left: 10px;
    border-left: #46CDCF solid 2px;
}
.listbox{
    width: 100%;
    background-color: #fff;
    padding: 10px;
}
.listbox_title{
    width: 100%;
    border: #ccc solid 1px;
}
.listbox_title_top{
    display: flex;
    line-height: 50px;
    height: 50px;
    background-color: #f5f5f5;
    border-bottom: #ccc solid 1px;
}
.listbox_title_top div{
    flex: 1;
    padding-left: 10px;
    border-right: #ccc solid 1px;
}
.listbox_title_content{
    min-height: 200px;
}
.listbox_title_content_item{
    height: 50px;
    line-height: 50px;
    display: flex;
    border-bottom: #ccc solid 1px;
}
.listbox_title_content_item div{
    flex: 1;
    border-right: #ccc solid 1px;
    padding-left: 10px;
}