 /* 去除默认样式 */
*{margin: 0;padding: 0;}
.clearfix:after,
.clearfix:before{content: '';display: table;}
.clearfix:after{clear: both;}
input{ border: none; outline: none; background-color: transparent; }
ul,ol{list-style-type: none;}
a{text-decoration: none;color:#000  !important;}
img{vertical-align: top;width: 100%;height: 100%;}
em,i{font-style: normal;}

/* iconfont引入 */
@font-face {
  font-family: 'iconfont';
  src: url('./iconfont/iconfont.eot');
  src: url('./iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
      url('./iconfont/iconfont.woff2') format('woff2'),
      url('./iconfont/iconfont.woff') format('woff'),
      url('./iconfont/iconfont.ttf') format('truetype'),
      url('./iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appbox{
  width: 100%;
  position: absolute;
  height: 100%;
  padding-top: 60px;
  background-color: #e6e6e6;
}
.nav_box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow:  0px 0px 3px rgb(145, 143, 143) ;
  padding: 10px;
  box-sizing: border-box;
}
.nav_box_content{
  height: calc(100vh - 57px);
  width: 100%;
  overflow-y: auto;
  position: fixed;
  bottom: 0;
  left: 0;
}

.nav_logo{
  width: 150px;
  height: 40px;
  float: left;
}
.nav_box{
  float: left;
}
.nav_list div{
  display: inline-block;
  padding: 0 20px;
  margin: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
.iconodf{
  background-color: rgb(0,21,41) !important;
  border: none  !important;
}
.nav_one{
  height:calc(100%) ;
  background-color: rgb(0,21,41);
  float: left;
}
.btnyes{
  position: absolute;
  bottom: 0;
  right: 0;
}
.linkto{
  color: #fff  !important;
  /* margin-left: 150px; */
}
.conten{
  width:calc(100% - 150px) ;
  height: 100%;
  background-color: #F5F6F9;
  padding: 20px;
  float: left;
}
.indexto{
  width: 100%;
  height: 100%;
  /* overflow-y: scroll ; */
}
.indexto::-webkit-scrollbar{
  width: 5px;
  background-color: #eee;
  border-radius:1px ;
}
.indexto::-webkit-scrollbar-thumb{
  background-color: #ccc;
  border-radius: 5px;
}

